.resultados-busqueda {
  text-align: center;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
}

.h2-comparacion {
  margin-top: -5px;
}

.comparing-card {
  margin: 0 15px;
}

.char-number {
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  padding: 8px;
  border-radius: 10px;
  font-family: "get_schwifty";
  font-size: 1.5rem;
  left: 0px;
  color: var(--celesteLogo);
}

.status {
  position: absolute;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  font-size: 1rem;
  right: 0px;
  color: white;
}

.div-eliminar-comparacion {
  margin-top: 30px;
  text-align: center;
}

.negrita {
  font-weight: bold;
  text-decoration: underline;
}
