.link-info {
  color: var(--celesteLogo);
}

.detalle-titulo-episodio {
  color: white;
  text-align: center;
  font-size: 1.7rem;
  margin-top: 60px;
}

.link-volver-info {
  font-size: 1.2rem;
  margin: 100px 25px 10px 25px;
}

.link-volver-info a {
  color: var(--celesteLogo);
}

.resultados-busqueda {
  text-align: center;
}
